/.phpunit.cache
/node_modules
.DS_Store

/public/build
/public/hot
/public/storage/*
!/public/storage/global/
/storage/*.key
package-lock.json

.env
.env.backup
.env.production
.phpunit.result.cache
.editorconfig
/vendor
docker-compose.override.yml
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/*.log
/.fleet
/.idea
/.vscode
/vendor

/public/css
/routes/tenant.php
/app/Providers
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
deploy_key
storage/app/*
!storage/app/.gitignore
!storage/app/public/
storage/logs/*
!storage/logs/.gitignore
.DS_Store
**/.DS_Store
