/.phpunit.cache
node_modules/
.codex/
.DS_Store

/public/build
/public/hot
/public
/storage/*.key
package-lock.json

.env
.env.backup
.env.production
.phpunit.result.cache
.editorconfig

/knowledge
/scratch
.kaddo
docker-compose.override.yml
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/*.log
/.fleet
/.idea
/.vscode
/vendor


/public/css


/bootstrap/cache/*
!/bootstrap/cache/.gitignore
deploy_key
storage/app/google-calendar/oauth-credentials.json
