// Generado automáticamente - No editar directamente

$color_primary: #f5365c !default;
$color_secondary: #5747a9 !default;
$color_success: #13964f !default;
$color_info: #0099cc !default;
$color_warning: #f3aa01 !default;
$color_danger: #aa1e1e !default;
$color_light: #dfdfe3 !default;
$color_dark: #343333 !default;
$color_gray: #667799 !default;
$btn-secondary: #5747a9 !default;
$btn-success: #13964f !default;
$btn-info: #0099cc !default;
$btn-warning: #f3aa01 !default;
$btn-danger: #aa1e1e !default;
$btn-light: #dfdfe3 !default;
$btn-dark: #343333 !default;
$btn-gray: #667799 !default;
$hover_primary: #f5365c !default;
$hover_secondary: #5747a9 !default;
$hover_success: #13964f !default;
$hover_info: #0099cc !default;
$hover_warning: #f3aa01 !default;
$hover_danger: #aa1e1e !default;
$hover_light: #dfdfe3 !default;
$hover_dark: #343333 !default;
$hover_gray: #667799 !default;
$label_primary: #f5365c !default;
$label_secondary: #5747a9 !default;
$label_success: #13964f !default;
$label_info: #0099cc !default;
$label_warning: #f3aa01 !default;
$label_danger: #aa1e1e !default;
$label_light: #dfdfe3 !default;
$label_dark: #343333 !default;
$label_gray: #667799 !default;
$active: #f5365c !default;
$disabled: #f5365c !default;
$btn-primary: #000 !default;
.btn-secondary{color:#fff !important;background:#5747a9 !important;}.btn-success{color:#fff !important;background:#13964f !important;}.btn-info{color:#fff !important;background:#0099cc !important;}.btn-warning{color:#fff !important;background:#f3aa01 !important;}.btn-danger{color:#fff !important;background:#aa1e1e !important;}.btn-light{color:#fff !important;background:#dfdfe3 !important;}.btn-dark{color:#fff !important;background:#343333 !important;}.btn-gray{color:#fff !important;background:#667799 !important;}.btn-primary{color:#fff !important;background:#000 !important;}